html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: #111827;
}

.torn-edge {
  clip-path: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 999px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
